html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.text-gray {
    color: gray;
}

.parallax {
    /* The image used */
    background-image: url("http://www.kimkev.com/demo/coffee/assets/img/4.jpeg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
}

.bayanganteks {
    text-shadow: 1px 1px #000000;
}

.brand {
    font-family: 'Caveat', cursive;
}

#jumboCarousel {
    min-height: 300px;
    min-width: 100%;
}

#jumboCarousel img {
    min-height: 300px;
    min-width: 100%;
}

#jumboCarousel>.carousel-indicators>li {
    border-radius: 0px;
    min-width: 25px;
    background-color: #9d9d9d;
    border: 1px solid black;
    margin-right: 10px;
    ;
    margin-left: 10px;
    ;
}

#jumboCarousel>.carousel-indicators>.active {
    background-color: orange;
}

#jumboCarousel .carousel-caption {
    color: black;
    right: 58%;
    text-align: center;
    max-width: 500px;
    left: auto;
    /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* .roboto {
    font-family: 'Roboto', sans-serif;
} */

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fredoka {
    font-family: 'Fredoka One', cursive;
}

.coffeeColor {
    color: #664A45 !important;
    /* color: #BCAAA4; */
}

.Lighten {
    /* color: #D7CCC8; */
    background-color: #D7CCC8;
}

/* #promet_aroma_jumbotron {
    color: #D7CCC8;
} */